@charset "UTF-8";
@import url(./normalize/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap");
@font-face {
  font-family: 'Post No Bills Jaffna';
  src: url("./fonts/PostNoBillsJaffna-Bold.eot");
  src: local("☺"), url("./fonts/PostNoBillsJaffna-Bold.woff") format("woff"), url("./fonts/PostNoBillsJaffna-Bold.ttf") format("truetype"), url("./fonts/PostNoBillsJaffna-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

.container {
  max-width: 1180px;
  margin: 0 auto; }

.header {
  background: #000000; }

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px; }

.header__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
  text-decoration: none; }

.icon {
  fill: #969696; }

.address {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.address-info {
  display: flex; }
  .address-info__item {
    padding: 0px 8px 0px 0px; }
    .address-info__item + .address-info__item {
      padding: 0px 8px;
      border-left: 1px solid #969696; }

.icon-phone {
  width: 14px;
  height: 14px;
  margin-right: 16px; }

.header__links {
  display: flex; }

.icon-log-in {
  width: 14px;
  height: 14px; }

.header__authorization {
  margin-left: 12px; }
  .header__authorization:hover {
    color: #FFFFFF; }

.top-board {
  height: 80px;
  background: #0F0F0F; }

.top-board__content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.name-company {
  font-family: Post No Bills Jaffna;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF; }

.menu {
  display: flex; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav__menu {
  display: flex; }

.nav__item {
  display: flex;
  width: 136px;
  height: 80px;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .nav__item:hover {
    background: #1F1F1F; }

.nav__link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #969696;
  text-decoration: none; }

.icon-bar {
  padding-left: 40px; }

.icon-bar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.icon-bar__item + .icon-bar__item {
  margin-left: 40px; }

.icon-bar__search, .icon-bar__basket {
  width: 22px;
  height: 22px;
  fill: #FFFFFF; }

.introductory-page {
  max-height: 810px;
  height: 100vh;
  max-width: 1920px;
  background-image: url("../images/main/introductory_page/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0F0F0F; }

.introductory-page__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 810px; }

.logo {
  height: 320px;
  width: 320px;
  border: 4px solid #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.logo__name-company {
  font-family: Post No Bills Jaffna;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 94px;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF; }

.logo__name-city {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 7px; }

.info {
  width: 730px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center; }

.new-collection {
  max-height: 730px;
  max-width: 1900px;
  display: flex; }

.new-collection {
  display: flex;
  flex-direction: column; }

.new-collection__up-content {
  display: flex; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .new-collection__up-content {
      display: block; } }

.season-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  width: 55%;
  height: 730px; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .season-products {
      width: 100%; } }
  @media screen and (min-width: 1200px) {
    .season-products {
      max-width: 1040px; } }

.title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px; }

.season-products__line {
  width: 120px;
  border: 1px solid #FFFFFF;
  margin-bottom: 50px; }

.season-products__collection {
  display: flex;
  justify-content: space-evenly; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .season-products__collection {
      width: 100%; } }

.season-products__item + .season-products__item {
  margin-left: 50px; }

.season-products__cart {
  width: 100%;
  max-width: 170px;
  height: 325px;
  background: #191B1C;
  display: flex;
  justify-content: center;
  align-items: center; }

.saeson-products__photo {
  max-width: 215px;
  max-height: 214px;
  height: 100%;
  width: 100%; }

.product-name {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-align: left;
  padding-top: 25px; }

.product-price {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #D0D0D0;
  text-align: left;
  padding-top: 10px; }

.promo {
  background-image: url("../images/main/promo/man.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 100px;
  box-sizing: border-box;
  width: 45%;
  height: 730px; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .promo {
      width: 100%; } }

.promo__text {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px; }

.promo__line {
  width: 120px;
  color: #FFFFFF;
  margin-bottom: 30px; }

.promo__link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFFFFF;
  text-decoration: none; }

.new-collection__down-content {
  display: flex; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .new-collection__down-content {
      display: block; } }

.picture {
  width: 45%;
  height: 600px;
  background-image: url("../images/main/articles/picture/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  background-position: center center; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .picture {
      width: 100%; } }

.collection-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  width: 55%;
  height: 600px; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .collection-info {
      width: 100%; } }

.collection-info__article {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase; }

.collection-info__line {
  width: 120px;
  margin: 40px auto; }

.collection-info__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-transform: none;
  width: 471px;
  height: 173px;
  margin: 0px auto;
  text-align: center; }

.collection-info__button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  margin: 40px auto 0px;
  padding: 10px 0px;
  width: 310px;
  background: #000000;
  border: 1px solid #FFFFFF; }

.collection-info__location {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF; }
